In [1]:
import pandas as pd
import sys
import urllib.request
import os
import sqlalchemy
from time import time
from random import randint
from datetime import timedelta
from pathlib import Path
import numpy as np

In [4]:
color='green'
year=2019
month=7
dataset_file = f"{color}_tripdata_{year}-{month:02}"
dataset_url = f"https://github.com/DataTalksClub/nyc-tlc-data/releases/download/{color}/{dataset_file}.csv.gz"

In [16]:
dataset_url

'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-07.csv.gz'

In [7]:
df = pd.read_csv(dataset_url)

C:\Users\Дмитрий\AppData\Local\Temp\ipykernel_11964\444006624.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(dataset_url)

In [13]:
df.dtypes

VendorID                 object
lpep_pickup_datetime     object
lpep_dropoff_datetime    object
store_and_fwd_flag       object
RatecodeID               object
PULocationID             object
DOLocationID             object
passenger_count          object
trip_distance            object
fare_amount              object
extra                    object
mta_tax                  object
tip_amount               object
tolls_amount             object
ehail_fee                object
improvement_surcharge    object
total_amount             object
payment_type             object
trip_type                object
congestion_surcharge     object
dtype: object

In [12]:
df = df.astype('str')

In [15]:
df.fillna(np.nan)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-07-01 00:00:48,2019-07-01 00:04:39,N,1.0,17,17,1.0,0.58,4.5,0.5,0.5,0.0,0.0,nan,0.3,5.8,1.0,1.0,0.0
1,2.0,2019-07-01 00:23:36,2019-07-01 00:29:50,N,1.0,255,256,1.0,0.95,6.0,0.5,0.5,1.46,0.0,nan,0.3,8.76,1.0,1.0,0.0
2,2.0,2019-07-01 00:09:48,2019-07-01 00:26:09,N,1.0,75,116,2.0,3.61,14.5,0.5,0.5,2.0,0.0,nan,0.3,17.8,1.0,1.0,0.0
3,2.0,2019-07-01 00:09:07,2019-07-01 00:23:41,N,1.0,17,89,1.0,3.59,13.5,0.5,0.5,0.0,0.0,nan,0.3,14.8,2.0,1.0,0.0
4,2.0,2019-07-01 00:50:45,2019-07-01 01:03:51,N,1.0,65,195,1.0,2.21,10.5,0.5,0.5,0.0,0.0,nan,0.3,11.8,2.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470738,nan,2019-07-31 23:58:00,2019-08-01 00:20:00,nan,nan,130,183,nan,11.9,45.23,2.75,0.5,0.0,6.12,nan,0.0,54.6,nan,nan,nan
470739,nan,2019-07-31 23:06:00,2019-07-31 23:28:00,nan,nan,226,42,nan,9.22,27.45,0.0,0.5,0.0,6.12,nan,0.0,34.07,nan,nan,nan
470740,nan,2019-07-31 23:06:00,2019-07-31 23:37:00,nan,nan,157,35,nan,11.81,28.86,2.75,0.5,0.0,0.0,nan,0.0,32.11,nan,nan,nan
470741,nan,2019-07-31 23:09:00,2019-07-31 23:43:00,nan,nan,122,49,nan,15.8,59.45,2.75,0.5,0.0,0.0,nan,0.0,62.7,nan,nan,nan
470742,nan,2019-07-31 23:01:00,2019-07-31 23:25:00,nan,nan,106,177,nan,4.72,8.45,2.75,0.5,0.0,10.5,nan,0.0,22.2,nan,nan,nan

In [ ]:
df_chunk = df

In [ ]:
title = next(df_chunk)

In [ ]:
title.head(0).to_parquet('data/test.parquet', compression='gzip', engine='fastparquet')

In [ ]:
for chunk in df:
    # обработка каждого чанка данных
    chunk.to_parquet('data/test.parquet', compression='gzip', engine='fastparquet', append=True)

In [ ]:
df2 = next(df)
df2.to_parquet(f'{Path.cwd()}/data', compression='gzip', engine='fastparquet', append=True)

In [ ]:
while True:
  df2 = next(df)
  df2.to_parquet(f'{Path.cwd()}/data', compression='gzip', engine='fastparquet', append=True)

In [ ]:
df.dtypes

In [ ]:
path = Path(f'{Path.cwd()}/data/{color}/{dataset_file}.parquet')
path.parent.mkdir(parents=True, exist_ok=True)
df.to_parquet(path, compression='gzip')

In [ ]:
df["passenger_count"] = df.passenger_count.astype("int64")

In [ ]:
df\
    .groupby('passenger_count') \
    .aggregate({'passenger_count':'count'})

In [ ]:
def etl_parent_flow(months: list[int]=[1,2]):
    for month in months:
        print(month)

In [ ]:
etl_parent_flow(months=[1,2])

In [ ]:
s = f'{month:02}'

In [ ]:
df

In [ ]:
df = pd.read_parquet('C:\\Users\\Дмитрий\\WorkFolder\\Программирование\\GitHub\\dataeng-zoomcamp\\week_2_Workflow Orchestration\\3. GCS to BigQuery\\data\\yellow\\yellow_tripdata_2021-01.parquet')

In [ ]:
df["passenger_count"] = df["passenger_count"].fillna(0)

In [ ]:
df

In [ ]:
df

In [ ]:
color='te'
dataset_file='1'

In [ ]:
path = Path(f'{Path.cwd()}/data2/{color}/{dataset_file}.parquet')

In [ ]:
Path('../data/')

In [ ]:
path.parent.mkdir(parents=True)

In [ ]:
Path.mkdir(f'{Path.cwd()}/data2')

In [ ]:
Path.mkdir()

In [ ]:
Path.cwd()

In [ ]:
print(timedelta(days=4))

In [ ]:
def add_numbers(x:int, y:int) -> int:
 return x+y

In [ ]:
print(add_numbers(1, 2)) # 3
print(add_numbers('1', 2)) # TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
if randint(0,1) > 0:
        raise Exception

In [ ]:
data = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz')

In [ ]:
data

In [ ]:
data.to_parquet(Path('c:/Users/Дмитрий/WorkFolder/Программирование/GitHub/dataeng-zoomcamp/week_2_Workflow Orchestration/GCP_Prefect/data/t.parquet'), compression='gzip')

In [ ]:
len(data)

In [ ]:
data[['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'passenger_count']]

In [ ]:
url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz'
csv_name = 'yellow_tripdata_2021-01.csv.gz'
workdirectory='C:\\Users\\Дмитрий\\WorkFolder\\Программирование\\GitHub\\dataeng-zoomcamp\\week_2_Workflow Orchestration\\Prefect'

In [ ]:
os.chdir(workdirectory)

In [ ]:
item = pd.read_csv('data\\' + csv_name, iterator=True, chunksize=100000)

In [ ]:
df = next(item)

In [ ]:
df[df['passenger_count'] == 0]

In [ ]:
df

In [ ]:
os.getcwd() + f'\\data\\{csv_name}'

In [ ]:
urllib.request.urlretrieve(url, filename=os.getcwd() + f'\\data\\{csv_name}')

In [ ]:
csv_name    = 'output.csv.gz'
data = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2019-01.csv.gz"
os.getcwd() + f'\\data\\{csv_name}'

In [ ]:
os.getcwd()

In [ ]:
urllib.request.urlretrieve(data, filename=os.getcwd() + f'\\data\\{csv_name}')

In [ ]:
# download file from github
# description of columns https://www.nyc.gov/assets/tlc/downloads/pdf/data_dictionary_trip_records_yellow.pdf
data = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2019-01.csv.gz"
urllib.request.urlretrieve(data, filename=os.getcwd() + '\\data2\\yellow_tripdata_2019-01.csv.gz')

In [ ]:
# read file
temp = pd.read_csv("yellow_tripdata_2019-01.csv.gz")

In [ ]:
temp

In [ ]:
# show only n rows
temp.head(5)

In [ ]:
# show datatype
temp.dtypes

In [ ]:
#create connetcion to postgres
engine = sqlalchemy.create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [ ]:
# create DDL from dataframe pandas
print(pd.io.sql.get_schema(temp, name = 'yellow_taxi_data', con=engine))

In [ ]:
# convert dataframe to panda's chunks that can help with upload to database
temp_iter = pd.read_csv("data/yellow_tripdata_2019-01.csv.gz", chunksize=100000, iterator=True)

In [ ]:
# see first chunk of itereter table
df = next(temp_iter)
df

In [ ]:
# convert this data 
df = df.astype({
    'tpep_pickup_datetime':'datetime64[ns]',
    'tpep_dropoff_datetime':'datetime64[ns]'
    })

In [ ]:
# put data to our created table in postgres. it is a temp stap, just for test
%time df.to_sql(con=engine, name='yellow_taxi_data', if_exists='append')

In [ ]:
# return only table's header and create table in database
df.head(0).to_sql(con=engine, name='yellow_taxi_data', if_exists='replace')

In [ ]:
# create loop for upload all chunk to table in postgres
while True:
    t_start = time()
    df = next(temp_iter)
    df = df.astype({
    'tpep_pickup_datetime':'datetime64[ns]',
    'tpep_dropoff_datetime':'datetime64[ns]'
    })
    df.to_sql(con=engine, name='yellow_taxi_data', if_exists='append')
    
    t_end = time()
    print('insert another chunk ... , it took %.3f second' %(t_end - t_start)) # it anotation that can allow you put measure

In [ ]:
urllib.request.urlretrieve('https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv', filename=os.getcwd() + f'\\data\\taxi_zone_lookup.csv')

In [ ]:
# read file
df_zone = pd.read_csv(filepath_or_buffer='data\\taxi_zone_lookup.csv')

In [ ]:
df_zone.head()

In [ ]:
df_zone.to_sql(con=engine, name='zone', if_exists='replace')