In [5]:
import pandas as pd
import sys
import urllib.request
import os
import sqlalchemy
from time import time
from random import randint
from datetime import timedelta
from pathlib import Path

In [3]:
color='yellow'
year=2021
month=1
dataset_file = f"{color}_tripdata_{year}-{month:02}"
dataset_url = f"https://github.com/DataTalksClub/nyc-tlc-data/releases/download/{color}/{dataset_file}.csv.gz"

In [6]:
df = pd.read_csv(dataset_url)

C:\Users\Дмитрий\AppData\Local\Temp\ipykernel_20552\444006624.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(dataset_url)

In [17]:
def etl_parent_flow(months: list[int]=[1,2]):
    for month in months:
        print(month)

In [22]:
etl_parent_flow(months=[1,2])

1
2

In [15]:
s = f'{month:02}'

In [7]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.00,3.00,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.00,0.50,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.00,0.50,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.00,0.50,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.50,0.50,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1369760,NaN,2021-01-25 08:32:04,2021-01-25 08:49:32,NaN,8.80,NaN,NaN,135,82,NaN,21.84,2.75,0.5,0.00,0.0,0.3,25.39,0.0
1369761,NaN,2021-01-25 08:34:00,2021-01-25 09:04:00,NaN,5.86,NaN,NaN,42,161,NaN,26.67,2.75,0.5,0.00,0.0,0.3,30.22,0.0
1369762,NaN,2021-01-25 08:37:00,2021-01-25 08:53:00,NaN,4.45,NaN,NaN,14,106,NaN,25.29,2.75,0.5,0.00,0.0,0.3,28.84,0.0
1369763,NaN,2021-01-25 08:28:00,2021-01-25 08:50:00,NaN,10.04,NaN,NaN,175,216,NaN,28.24,2.75,0.5,0.00,0.0,0.3,31.79,0.0
1369764,NaN,2021-01-25 08:38:00,2021-01-25 08:50:00,NaN,4.93,NaN,NaN,248,168,NaN,20.76,2.75,0.5,0.00,0.0,0.3,24.31,0.0

In [24]:
df = pd.read_parquet('C:\\Users\\Дмитрий\\WorkFolder\\Программирование\\GitHub\\dataeng-zoomcamp\\week_2_Workflow Orchestration\\3. GCS to BigQuery\\data\\yellow\\yellow_tripdata_2021-01.parquet')

In [27]:
df["passenger_count"] = df["passenger_count"].fillna(0)

In [28]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.00,3.00,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.00,0.50,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.00,0.50,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.00,0.50,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.50,0.50,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1369760,NaN,2021-01-25 08:32:04,2021-01-25 08:49:32,0.0,8.80,NaN,None,135,82,NaN,21.84,2.75,0.5,0.00,0.0,0.3,25.39,0.0
1369761,NaN,2021-01-25 08:34:00,2021-01-25 09:04:00,0.0,5.86,NaN,None,42,161,NaN,26.67,2.75,0.5,0.00,0.0,0.3,30.22,0.0
1369762,NaN,2021-01-25 08:37:00,2021-01-25 08:53:00,0.0,4.45,NaN,None,14,106,NaN,25.29,2.75,0.5,0.00,0.0,0.3,28.84,0.0
1369763,NaN,2021-01-25 08:28:00,2021-01-25 08:50:00,0.0,10.04,NaN,None,175,216,NaN,28.24,2.75,0.5,0.00,0.0,0.3,31.79,0.0
1369764,NaN,2021-01-25 08:38:00,2021-01-25 08:50:00,0.0,4.93,NaN,None,248,168,NaN,20.76,2.75,0.5,0.00,0.0,0.3,24.31,0.0

In [15]:
df

0          1.0
1          1.0
2          1.0
3          0.0
4          1.0
          ...
1369760    0.0
1369761    0.0
1369762    0.0
1369763    0.0
1369764    0.0
Name: passenger_count, Length: 1369765, dtype: float64

In [ ]:
color='te'
dataset_file='1'

In [ ]:
path = Path(f'{Path.cwd()}/data2/{color}/{dataset_file}.parquet')

In [ ]:
Path('../data/')

In [ ]:
path.parent.mkdir(parents=True)

In [ ]:
Path.mkdir(f'{Path.cwd()}/data2')

In [ ]:
Path.mkdir()

In [ ]:
Path.cwd()

In [ ]:
print(timedelta(days=4))

In [ ]:
def add_numbers(x:int, y:int) -> int:
 return x+y

In [ ]:
print(add_numbers(1, 2)) # 3
print(add_numbers('1', 2)) # TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
if randint(0,1) > 0:
        raise Exception

In [ ]:
data = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz')

In [ ]:
data

In [ ]:
data.to_parquet(Path('c:/Users/Дмитрий/WorkFolder/Программирование/GitHub/dataeng-zoomcamp/week_2_Workflow Orchestration/GCP_Prefect/data/t.parquet'), compression='gzip')

In [ ]:
len(data)

In [ ]:
data[['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'passenger_count']]

In [ ]:
url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz'
csv_name = 'yellow_tripdata_2021-01.csv.gz'
workdirectory='C:\\Users\\Дмитрий\\WorkFolder\\Программирование\\GitHub\\dataeng-zoomcamp\\week_2_Workflow Orchestration\\Prefect'

In [ ]:
os.chdir(workdirectory)

In [ ]:
item = pd.read_csv('data\\' + csv_name, iterator=True, chunksize=100000)

In [ ]:
df = next(item)

In [ ]:
df[df['passenger_count'] == 0]

In [ ]:
df

In [ ]:
os.getcwd() + f'\\data\\{csv_name}'

In [ ]:
urllib.request.urlretrieve(url, filename=os.getcwd() + f'\\data\\{csv_name}')

In [ ]:
csv_name    = 'output.csv.gz'
data = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2019-01.csv.gz"
os.getcwd() + f'\\data\\{csv_name}'

In [ ]:
os.getcwd()

In [ ]:
urllib.request.urlretrieve(data, filename=os.getcwd() + f'\\data\\{csv_name}')

In [ ]:
# download file from github
# description of columns https://www.nyc.gov/assets/tlc/downloads/pdf/data_dictionary_trip_records_yellow.pdf
data = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2019-01.csv.gz"
urllib.request.urlretrieve(data, filename=os.getcwd() + '\\data2\\yellow_tripdata_2019-01.csv.gz')

In [ ]:
# read file
temp = pd.read_csv("yellow_tripdata_2019-01.csv.gz")

In [ ]:
temp

In [ ]:
# show only n rows
temp.head(5)

In [ ]:
# show datatype
temp.dtypes

In [ ]:
#create connetcion to postgres
engine = sqlalchemy.create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [ ]:
# create DDL from dataframe pandas
print(pd.io.sql.get_schema(temp, name = 'yellow_taxi_data', con=engine))

In [ ]:
# convert dataframe to panda's chunks that can help with upload to database
temp_iter = pd.read_csv("data/yellow_tripdata_2019-01.csv.gz", chunksize=100000, iterator=True)

In [ ]:
# see first chunk of itereter table
df = next(temp_iter)
df

In [ ]:
# convert this data 
df = df.astype({
    'tpep_pickup_datetime':'datetime64[ns]',
    'tpep_dropoff_datetime':'datetime64[ns]'
    })

In [ ]:
# put data to our created table in postgres. it is a temp stap, just for test
%time df.to_sql(con=engine, name='yellow_taxi_data', if_exists='append')

In [ ]:
# return only table's header and create table in database
df.head(0).to_sql(con=engine, name='yellow_taxi_data', if_exists='replace')

In [ ]:
# create loop for upload all chunk to table in postgres
while True:
    t_start = time()
    df = next(temp_iter)
    df = df.astype({
    'tpep_pickup_datetime':'datetime64[ns]',
    'tpep_dropoff_datetime':'datetime64[ns]'
    })
    df.to_sql(con=engine, name='yellow_taxi_data', if_exists='append')
    
    t_end = time()
    print('insert another chunk ... , it took %.3f second' %(t_end - t_start)) # it anotation that can allow you put measure

In [ ]:
urllib.request.urlretrieve('https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv', filename=os.getcwd() + f'\\data\\taxi_zone_lookup.csv')

In [ ]:
# read file
df_zone = pd.read_csv(filepath_or_buffer='data\\taxi_zone_lookup.csv')

In [ ]:
df_zone.head()

In [ ]:
df_zone.to_sql(con=engine, name='zone', if_exists='replace')